<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Stimuli</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link th:href="@{/css/bootstrap.min.css}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
<link th:href="@{/css/font-awesome.css}" rel="stylesheet">
<script th:src="@{/js/jquery.min.js}"> </script>
<script th:src="@{/js/bootstrap.min.js}"> </script>
</head>

<style>
    i.fa-check-circle
    {
        display:inline-block;
        vertical-align:middle;
        color: #3FAB29;
    }

    i.fa-times-circle
    {
        display:inline-block;
        vertical-align:middle;

        color: #D10707;
    }
</style>


<script type="text/javascript">

    $email_flag = 0;
	function check(){
		var password=$("#password").val();
		var repassword=$("#repassword").val();

		var username=$("#username").val();
		var email=$("#email").val();

		if(password==null||password==""){
			alert("password can not be blank!");
			$("#password").focus();
			return false;
		} else if(password!=repassword){
			alert("Inconsistent password input");
			$("#repassword").attr("value","");
			$("#repassword").focus();
			return false;
		}else if(username==null||username==""){
			alert("username can not be blank!");
			$("#username").focus();
			return false;
		}
		else if(email==null||email==""){
			alert("email can not be blank!");
			$("#email").focus();
		}
		else if($email_flag==0){            //判断邮箱是否填写正确
            alert("This email has been registered, please use a new email address");
            $("#email").focus();
        }else{
			$("#signupForm").submit();
		}
	}

    $pre_val = null;                //做一个flag，避免不必要的ajax请求
	function email_check() {
        if($("#email").val()!=null && $pre_val != $("#email").val()){
            $.post("/login/email_check", {email: $("#email").val()}, function (data, status) {
                if(data==1 && $("#email").val().length>=5){           //邮箱可用
                    //$("i.envelope").append('<i class=\"fa fa-check-circle\"></i>')
                    $("i.fa-check-circle").remove();
                    $("i.fa-times-circle").remove();
                    $("i.fa-envelope").after('<i class=\"fa fa-check-circle\"></i>')
                    $email_flag=1;
                }else{                 //邮箱已被占用
                    //$("#checkPos").html('<i class="fa fa-times-circle"></i>')
                    $("i.fa-check-circle").remove();
                    $("i.fa-times-circle").remove();
                    $("i.fa-envelope").after('<i class=\"fa fa-times-circle\"></i>')
                    $email_flag=0;
                }
            });
            $pre_val = $("#email").val();
        }
    }
</script>

<style>
    i.fa-check-circle
    {
        color: #3FAB29;
    }

    i.fa-times-circle
    {
        color: #D10707;
    }
</style>

<body>
<div class="login">
	<h1><a href="/stimuli/home">Stimuli </a></h1>

	<form id="signupForm" action="/login/signup_check" method="post">
		<div class="login-bottom">
			<h2>Register</h2>
			<div class="col-md-6">
				<div class="login-mail">
					<input type="text" id="username" name="username" placeholder="Username" required="">
					<i class="fa fa-user"></i>
				</div>
				<div class="login-mail">
					<input type="password" id="password" name="password" placeholder="Password" required="">
					<i class="fa fa-lock"></i>
				</div>
				<div class="login-mail">
					<input type="text" id="email" name="email" placeholder="Email" required="" onblur="email_check()">
                    <i class="fa fa-envelope"></i>
                </div>


				<div >
					<!--i class="fa fa-venus-mars"></i-->
					<label><input type="radio" name="gender"  value="1" checked="true" required="">Male</label>
					<label><input type="radio" name="gender"  value="0" required="">Female</label>
				</div>
                <hr>
				<div >
					<!--i class="fa fa-venus-mars"></i-->
					<label><input type="radio" name="status"  value="0" required="" checked="true" >Practitioner</label>
					<label><input type="radio" name="status"  value="1" required="">Researcher</label>
				</div>


			</div>
			<div class="col-md-6 login-do">
				<div class="login-mail">
					<input type="text" id="full_name" name="full_name" placeholder="Full Name" required="">
					<i class="fa fa-user"></i>
				</div>
				<div class="login-mail">
					<input type="password" id="repassword" placeholder="Repeated password" required="">
					<i class="fa fa-lock"></i>
				</div>
				<div class="login-mail">
					<input type="text" id="institution" name="institution" placeholder="institution" required="">
					<i class="fa fa-university"></i>
				</div>

				<label class="hvr-shutter-in-horizontal login-sub">
					<input type="submit" value="Submit" onclick="check()">
				</label>
				<!--p>Already register ?</p-->
				<a href="/login/signin" class="hvr-shutter-in-horizontal">Back to Login</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</form>
</div>
<!---->		<!---->
<div class="copy-right">
	<div th:include="Footer :: Footer"></div>				<!--引入公共元素-->    </div>
	  
<!---->
<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
</body>
</html>

